*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.entry-modal-background {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(130, 130, 240, 0.5);
    backdrop-filter: blur(4px);
}

.entry-modal-container {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 150;
    padding: 1.5rem;
    height: 300;
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(140, 140, 184), white);
    border: 2px solid black;
    border-radius: 20px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
}

.entry-modal-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: steelblue;
}

.submit {
    transform: translate(10px, -20px);
    padding: 1rem;
    background: white;
    border-radius: 50px;
    align-items: right;
}

.submit:hover {
    cursor: pointer;
}


