*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.entry-modal-background {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(157, 136, 180, 0.753);
    backdrop-filter: blur(4px);
}

.entry-modal-container {
    z-index: 2;
    display: flex;
    justify-content: center;
    color: black;
    width: 100;
    padding: 1.5rem;
    height: 300;
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(148, 121, 170), rgb(177, 168, 176));
    border: 2px solid black;
    border-radius: 20px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -10%);
}

.entry-modal-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entry-modal-footer {
    padding-top: 10px;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #283618;
}

.submit {
    transform: translate(10px, -20px);
    padding: 1rem;
    background: transparent;
    border-radius: 50px;
    align-items: right;
}

.submit:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .ex-modal-container {
        width: 300px;
    }
  }


