ul {
  display: block;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar-background {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(157, 192, 147, 0.4);
  backdrop-filter: blur(4px);
}

.navBar {
  background: rgb(95, 138, 102);
  box-shadow: 4px 2px 5px gray;
  justify-content: center;
  color: white;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 10rem;
  z-index: 2;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  transition: 0.5s;
}

.menu-transition-enter {
  opacity: 0;
}

.menu-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.menu-transition-exit {
  opacity: 1;
}

.menu-transition-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.navBar button {
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
}

.navBar button:hover {
  color: black;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .navBar {
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    position: relative;
  }
}

@media screen and (max-width: 600px) {
  ul {
    display: flex;
    justify-content: space-between;
  }
}