ul {
  display: block;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar-background {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(130, 130, 240, 0.5);
  backdrop-filter: blur(4px);
}

.navBar {
  background: steelblue;
  box-shadow: 4px 2px 5px gray;
  justify-content: center;
  color: white;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 12rem;
  z-index: 2;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  transition: 0.5s;
}

.menu-transition-enter {
  opacity: 0;
}

.menu-transition-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.menu-transition-exit {
  opacity: 1;
}

.menu-transition-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
