*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.modal {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 1.5rem;
    height: 300px;
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-open {
    background-color: transparent;
    border: 2px solid steelblue;
    color: steelblue;
    font-size: 1rem;
    font-family: inherit;
    max-width: 100px;
    padding: 0.5rem 0.5rem;
}
  
button:hover {
    cursor: pointer;
    color: white;
    background-color: steelblue;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 1rem;
    background: white;
    border-radius: 50px;
    align-items: right;
}

.overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(130, 130, 240, 0.5);
    backdrop-filter: blur(4px);
}

.hidden {
    display: none;
}