*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h4 {
    text-align: center;
}

.exercise-box {
    margin: 50px;
    border-style: inset;
    border-color: rgb(93, 115, 163);
    padding: 20px;
    background: rgb(177, 160, 160, 0.8);
}

.exercise-button {
    margin: auto;
    background-color: white;
    /* border: 2px solid black;  */
    border-radius: 30px;
    color: steelblue;
    font-size: 1rem;
    font-family: inherit;
    max-width: 100px;
    /* padding: 0.1rem 0.1rem; */
  }
  
  /* button border steel blue */
  
.exercise-button:hover {
    cursor: pointer;
    color: white;
    background-color: steelblue;
  }