*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.entry-box {
  margin: 50px;
  border-style: inset;
  border-color: rgb(59, 71, 54);
  padding: 20px;
  background: rgba(196, 218, 181, 0.8);
}

.entry-page-tag {
  text-align: center;
  text-shadow: 1.5px 1.5px rgb(159, 180, 159);
}

.entry-title {
  padding-bottom: 15px;
}

th {
  text-shadow: 1.5px 1.5px rgb(159, 180, 159);
}

.entry-body {
  background-image: url("https://images.unsplash.com/photo-1494319827402-c4b839aed26b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGZsYXR8ZW58MHx8MHx8&w=1000&q=80");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: 1366px 768px;
}

.btn2 {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .entry-body {
    background-image: none;
    background-color: rgb(132, 155, 119);
  }
}

@media screen and (max-width: 600px) {
  .entry-box {
    background-color: white;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 50%;
    height: 50%;
  }
}