*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.entry-button {
  margin: auto;
  background-color: transparent;
  /* border: 2px solid black;  */
  border-radius: 30px;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.1rem 0.1rem;
}

/* button border steel blue */

.entry-button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.chart-button {
  background-color: transparent;
  /* border: 2px solid black;  */
  border-radius: 30px;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

/* button border steel blue */

.chart-button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}