*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.ex-modal-background {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(221, 184, 114, 0.3);
    backdrop-filter: blur(4px);
}

.ex-modal-container {
    z-index: 2;
    display: flex;
    justify-content: center;
    width: 700px;
    padding: 1.5rem;
    height: 500px;
    position: absolute;
    background-image: linear-gradient(to bottom right, rgb(202, 152, 87), rgb(230, 202, 151));
    border: 2px solid black;
    border-radius: 20px;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
}

.ex-modal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-weight: bold;
}

p {
    font-size: medium;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #283618;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 1rem;
    background: white;
    border-radius: 50px;
    align-items: right;
}

.btn-close:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .ex-modal-container {
        width: 300px;
    }
  }

@media screen and (max-width: 600px) {
    p {
        font-size: x-small;
    }
  }

@media screen and (max-width: 600px) {
    h2 {
        font-size: small;
    }
  }

@media screen and (max-width: 600px) {
    h3 {
        font-size: small;
    }
  }
