*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    max-width: 500px;
    display: flex;
}

tr:nth-child(even) {
    background-color: rgb(157, 192, 147);
}

tr:hover {
    background-color: rgb(74, 134, 84);
}

.display-table {
    grid-template-columns: auto auto;
    background-color: rgb(219, 243, 216);
    border: 2px solid black;
    vertical-align: inherit;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;
    opacity: 0.85;
}

.display-title {
    font-size: xx-large;
}

.display-date {
    font-size: xx-large;
}

.entry-display {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: left;
    vertical-align: inherit;
    padding: 2px;
}

.entry-display-b {
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
}

.entry-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}